*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 2px;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #353A40;
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.user{
	font-size: 15pt;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.logo{
	width: 350px;
    height: 50px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #353A40;
	/*background: #05817d;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 12pt;
	font-family: 'sams';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #353A40;
}
nav .principal > a{
    /* background: url(../images/arrow_bottom.png) no-repeat; */
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
	background-size: 10px;
	/* padding-top: 100px; */
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #353A40;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #56b40d;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#contenedor{
	padding: 120px 15px 15px;
}
/*****************************************************************/

/*************************Registro de libro*************************************/

.form_register{
	width: 700px;
	margin: auto;
  
  }
  .form_register h1{
	color: #56b40d;
  }
  
  hr{
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10px 0;
	display: block;
  }
  
  form{
	background: #fff;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
  }
  
  label{
	display: block;
	font-size: 12pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 15px auto 5px auto;
  }
  
  input,select{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 10px;
  }
  
  /*******************estilo de la combobox de actualizar usuario******/
  .NotItemOne option:first-child{
	display: none;
  }
  
  
  /**********/
  
  .btn-save{
	font-size: 12pt;
	background: #56b40d;
	padding: 10px;
	color: white;
	letter-spacing: 1px;
	cursor: pointer;
	margin: 15px auto;
  }
  
  .alert2{
	width: 100%;
	background: #56b40d;
	border-radius: 6px;
	margin: 20px auto;
  }
  .msg_error{
	color: white;
  }
  .msg_save{
	color: white;
  }
  .alert2 p{
	padding: 10px;
  }
  
  /**************************lista de libros**********/
  
  #contenedor h1{
	font-size: 35px;
	display: inline-block;
  
  }
  
  
  table{
	  border-collapse: collapse;
	  font-size: 12pt;
	  font-family: sans-serif;
	  width: 100%;
	}
	
	table th{
		text-align: center;
		padding: 10px;
		background-color: #56b40d;
	}
	
	table tr:nth-child(odd){
		background-color: #fff;
	}
	table tr:nth-child(even){
		background-color: #cde7db;
	}
	table td{
		padding: 10px;
	}
	.link_add{
		color: #56b40d;
	}
	.link_edit{
		color: #0ca4ce;
		
	}
	
	.link_delete{
		color: #f26b6b;
	}
	
	table td{
		text-align: center;
	}
	
	/********botones de eliminar usuario*******/
	
	/* .data_delete{
		text-align: center;
	}
	.data_delete h2{
		font-size: 12pt;
	}
	
	.data_delete span{
		font-weight: bold;
		color: #4f72d4;
		font-size: 12pt;
	} */
	
	.btn_cancel, .btn_ok{
		width: 120px;
		background: red;
		color: #fff;
		display: inline-block;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		margin: 15px;
		text-align: center;
	}
	
	/* .btn_ok{
		background-color: red;
	} */
	.btn_new2{
		width: 120px;
		background: green;
		color: #fff;
		display: inline-block;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		margin: 15px;
		text-align: center;
		
	}
	.btn_new{
		display: inline-block;
		background: #56b40d;
		color: #fff;
		padding: 5px 25px;
		border-radius: 4px;
		margin: 20px;
	  }
/* 	.data_delete form{
		background-color: initial;
		margin: auto;
		padding: 20px 50px;
		border: 0px; 
	} */
	
	/**********PAginador*********/
  
  .paginador ul{
	padding: 15px;
	list-style: none;
	background-color: #fff;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
  }
  
  .paginador a, .pageselected{
	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
  
  }
  .paginador a:hover{
	background-color: #ddd;
  }
  .pageselected{
	color: white;
	background-color: #428bca;
	border: 1px solid #428bca;
  }
  
  /*************buscador*********/
  
  .form_buscar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;
	border: 0;
  }
  
  .form_buscar .btn_buscar{
	background-color: #56b40d;
	color: #fff;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
  
  }
  .form_buscar #busqueda{
	width: 150px;
  }

  /************css de la selecion de la portada del libro******** */

  .prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    /*background: url(../images/uploads/user.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}

.ufoto{
	text-align: center;
	color: #56b40d;
}


/************Lista de libros***************/

.img_portada img{
	width: 50px;
	height: auto;
	margin: auto;
}
.imgProductoDelete{
width: 175px;
}

/**************Estilos del modal*************/

.modal{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .81);
	display: none;
}

.bodymodal{
	width: 100%;
	height: 100%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.modal h1{
	color: #56b40d;
	text-transform: uppercase;
}
.modal h2{
	text-transform: uppercase;
	margin-top: 15px;
}
#form_add_libro{
	width: 450px;
	text-align: center;
}

/*============ Ventas ============*/
.datos_cliente, .datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #e3ecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta, #add_libro_dona{
	display:none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}


/* estilos para la parte del la busqueda del listado de donaciones */

.form_serch_date{
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px auto;
}
.form_serch_date label{
	margin: 0 10px;
}

.form_serch_date input{
	width: auto;
}
.form_serch_date .btn_view{
	padding: 8px;
}

.btn_view{
	background-color: #56b40d;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: white;
}
/* Estilos de la portada */
.contimg{
	height: 100vh;
	background-image: url(../img/biblioteca.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bienvenida{
	padding: 0 auto;
}
.contenedor1{
	width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}